.campoAdjuntoError .sapMUCSeparator {
    border-color: #d32f2f; 
}

.campoAdjuntoError {
    border: 1px solid #d32f2f;
    border-radius: 4px; 
    padding: 2px;
}

.sapUiFormFieldError .sapMUCSeparator {
    border-color: #d32f2f; 
}

.sapUiFormFieldError {
    border: 1px solid #d32f2f;
    border-radius: 4px; 
    padding: 2px;
}